# SQL GEN AI
SQLDatabaseChain

In [1]:
import os
from dotenv import load_dotenv
load_dotenv()

True

### Secret Key

In [2]:
openai_key=os.getenv('OPENAPI_KEY')
pg_user=os.getenv('PQSQL_USER')
pg_pass=os.getenv('PQSQL_PASS')
pg_database=os.getenv('PQSQL_DATABASE')

### IMPORTS

In [3]:
from langchain_openai import OpenAI
from langchain.sql_database import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain

#### Connect Database

In [4]:
db = SQLDatabase.from_uri(f'postgresql+psycopg2://{pg_user}:{pg_pass}@localhost/{pg_database}')
print(db)

<langchain_community.utilities.sql_database.SQLDatabase object at 0x0000018AF4023F50>

## Langchain SQL Agent

In [5]:
llm_1 = OpenAI(api_key=openai_key,temperature=0)
     
db_agent = SQLDatabaseChain(llm = llm_1,
                            database = db,
                            verbose=True)

C:\Users\Simon\anaconda3\Lib\site-packages\langchain_experimental\sql\base.py:76: UserWarning: Directly instantiating an SQLDatabaseChain with an llm is deprecated. Please instantiate with llm_chain argument or using the from_llm class method.
  warnings.warn(

In [6]:
db_agent.run("how many tables are there?")

C:\Users\Simon\anaconda3\Lib\site-packages\langchain_core\_api\deprecation.py:117: LangChainDeprecationWarning: The function `run` was deprecated in LangChain 0.1.0 and will be removed in 0.2.0. Use invoke instead.
  warn_deprecated(

> Entering new SQLDatabaseChain chain...
how many tables are there?
SQLQuery:SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = 'public';
SQLResult: [(2,)]
Answer:2
> Finished chain.

'2'

In [8]:
db_agent.run("Give me SQL code to connect the two tables and retrieve all rows (*) from both table")

> Entering new SQLDatabaseChain chain...
Give me SQL code to connect the two tables and retrieve all rows (*) from both table
SQLQuery:SELECT * FROM gl_je_headers, gl_je_lines
SQLResult:
Answer:This query will return all rows from both tables, but it is not a proper way to connect the two tables. A proper way would be to use a JOIN statement, such as:

SELECT * FROM gl_je_headers
INNER JOIN gl_je_lines ON gl_je_headers.je_header_id = gl_je_lines.je_header_id;

This will return all rows from both tables where the je_header_id column in gl_je_headers matches the je_header_id column in gl_je_lines.
> Finished chain.

'This query will return all rows from both tables, but it is not a proper way to connect the two tables. A proper way would be to use a JOIN statement, such as:\n\nSELECT * FROM gl_je_headers\nINNER JOIN gl_je_lines ON gl_je_headers.je_header_id = gl_je_lines.je_header_id;\n\nThis will return all rows from both tables where the je_header_id column in gl_je_headers matches the je_header_id column in gl_je_lines.'

## NOTE 
I used Postgres instead of ORACLE as I didn't have ORACLE installed so instead I recreated the table in Postgres. If the table exits it would be fairly simple to change this to ORACLE.